@import '../node_modules/nouislider/distribute/nouislider.css';

// set the colors
$primary-color: rgba(50,50,50,0.75);
$accent-color: #fff;

// overwrite ESRI layer swiper class
.LayerSwipe {
    position: absolute;
    width: 100%;
    height: 100%;

    .handleContainer {
        position:relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .vertical:before {
        content: "";
        display: block;
        position: absolute;
        background-color: $primary-color;

        left: 5px;
        height: 100%;
        width: 1px;
    }

    .vertical {
        position: absolute;
        background-color: $primary-color;
        z-index: 30;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0;
        padding: 0!important;

        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8;

        width: 11px;
        height: 100%;
        cursor: col-resize;
        top: 0px!important;

        .handle:before {
            margin-right: 11px;
        }

        .handle:before, .handle:after {
            display: block;
            float: left;
            text-align: center;
            background-color: $primary-color;
            color: $accent-color;

            content: "\268C";
            width: 20px;
            height: 24px;
            line-height: 2;
            transform: rotate(90deg);
        }

        .handle {
            position: absolute;
            z-index: 30;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 12px;

            width: 51px;
            height: 24px;
            margin-top: -12px;
            margin-left: -20px;
            top: 50%;
            left: 0;
        }

        .swiper-controls-container {

            position: absolute;
            top: 0px;
            z-index: 29;
            width: 40px;
            height: 100%;
            cursor: auto;

            &.swiper-controls-container-left {
                left: -40px;
            }

            &.swiper-controls-container-right {
                left: 11px;
            }

            .swiper-controls {

                position: absolute;
                z-index: 29;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.8);
                opacity: 0;
                transition: opacity ease 0.2s;
                transition-delay: 0.4s;

                &.disabled {
                    display: none;
                }

                &:hover {
                    opacity: 1;
                }

                .md-icon-button {
                    position:absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: 30px;
                    margin-left: -13px;
                    cursor: pointer;
                }
            }

            .swiper-controls-label {

                position: absolute;
                width: 400px;
                z-index: 30;
                cursor: auto;

                span {
                    display: inline-block;
                    padding: 5px 7px 5px 7px;
                    background-color: rgba(255, 255, 255, 1);
                    font-weight: 500;
                    font-size: 13px;
                }

                &.swiper-controls-label-left {
                    left: -360px;
                    text-align: right;
                }
            }

        }

        .hotspot {
            position: absolute;
            z-index: 29;
            background-color: rgba(255, 255, 255, 0.8);
            opacity: 0;
            width: 40px;
            height: 100%;
            cursor: auto;
            transition: opacity ease 0.2s;
            transition-delay: 0.4s;

            &.active:hover {
                opacity: 1;
            }

            .md-icon-button {
                position:absolute;
                top: 50%;
                left: 50%;
                margin-top: 30px;
                margin-left: -13px;
                cursor: pointer;
            }

        }

        .hotspot-left {
            left: -40px;
        }

        .hotspot-right {
            left: 11px;
        }

    }

    .vertical:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }



}

// Settings Panel
#swiperSettingsPanel {

    display: flex;
    flex: 1;
    width: 90%;

    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    margin: 0;

    max-width: 800px;
    // min-height: 500px;

    margin-left: -400px;
    margin-top: -125px;

    top: 50%;
    left: 50%;

    &.dialog-hidden {
        visibility: hidden;
    }

    .panel-body {

        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: hidden;

        .body {

            display: flex;
            flex: 1;
            flex-direction: column;
            overflow-y: hidden;

            .content {

                margin: 20px 20px 5px 20px;
                height: 160px;
                overflow: hidden;

                .swiper-settings-slider-container {

                    margin: 30px 30px 0px 30px;

                    .noUi-value {
                    //   font-size: 0.9em;
                      margin-top: 25px;
                    }

                    .noUi-value.overflow {
                      display: none;
                    }

                    .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
                      height: 25px;
                    }

                    .noUi-marker.noUi-marker-horizontal.noUi-marker-large.overflow {
                      height: 10px;
                      background-color: #ddd;
                    }

                    .noUi-tooltip {
                      transition: all 0.2s;
                      font-weight: bold;
                      font-size: 0.8em;
                    }

                    .noUi-tooltip.hidden {
                      opacity: 100;
                    }

                }

                h4 {
                    margin-bottom: 3px;
                    margin-top: 0px;
                    font-size: 18px;
                    font-weight: 900;
                }

                h5 {
                    color: #aaa;
                    text-transform: uppercase;
                    margin-top: 0px;
                    font-size: 14px;
                }

            }

            .apply-btn {

                margin: 5px 15px 5px 15px;
                padding: 0 10px 0 10px;
                &.disabled {
                    opacity: 0.4;
                }

            }

        }

    }

    &.draggable {

        &.is-dragging {

            border: dashed 3px #aaa;
            background-color: rgba(255,255,255,0.3) !important;
            box-shadow: none !important;

            .rv-header {
                opacity: 0.1;
            }

            .panel-body {
                opacity: 0.1;
            }

        }

        .rv-header {

            cursor: move;
            header {
                padding-left: 12px;
            }

        }



    }

}
